.tmp
/src
/spec
node_modules
.sass-cache
.awcache
*.7z
webpack.config.*
tsconfig.*
tslint.*
wallaby.*
jsdoc.*
jest.*
Gruntfile.*
.idea
.vscode
.eslintrc.json
.prettierrc
.editorconfig
.babelrc.js
npm-debug.log
yarn-error.log
